@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--base-color-);
  font-family: "Karla", sans-serif;
}
:root {
  --base-color-: #def7e5;
  --secondary-color-: #d9cef5;
  --accent-color-: #f7e5de;
}
.accent {
  background-color: var(--accent-color-);
}

/* =================  
    ? Header
 ===================*/
header {
  font-weight: 400;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  padding: 25px;
  max-height: 200px;
  text-align: center;
}
.logo {
  margin-left: 15px;
}
nav {
  margin-top: 5px;
}
.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  text-align: center;
}
.nav-list li {
  flex-shrink: 5;
  margin: 10px 35px;
  list-style-type: none;
}
.list-element {
  width: fit-content;
  padding: 8px 14px;
  border-radius: 2px;
  border: 1px solid black;
  color: black;
  text-decoration: none;
}
.list-element:hover {
  background-color: #f7e5de;
  color: black;
}
@media screen and (max-width: 696px) {
  .nav-list li {
    margin: 20px 10px;
  }
}

@media screen and (max-width: 500px) {
  .nav-list li {
    margin: 20px 10px;
  }
}

/* =================  
    ? Hero
 ===================*/
.hero-handler {
  position: relative;
  top: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  min-height: min-content;
}
.hero-text-handler h2 {
  max-width: 20rem;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 36px;
}
.hero-text-handler p {
  margin-top: 10px;
  font-weight: 400;
  max-width: 400px;
}
.hero-img {
  background-position: fixed;
  background-size: cover;
  max-width: 650px;
  max-width: 650px;
}
.upper-svg {
  margin-top: 11.5px;
}
@media screen and (max-width: 650px) {
  .hero-img {
    background-position: none;
    max-width: 500px;
    max-height: 500px;
  }
}

@media screen and (max-width: 500px) {
  .hero-img {
    max-width: 475px;
    max-height: 475px;
  }
}

/* =================  
    ? Projects
 ===================*/
.projects-handler {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  background-color: var(--secondary-color-);
  height: 50vh;
  min-width: 200px;
}
.project-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 25px;
  border: 1px solid black;
  padding: 1px;
  border-radius: 3px;
  margin: 10px 25px;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
}

.collectors-haven {
  background-color: var(--accent-color-);
}
.pwa {
  background-color: var(--accent-color-);
}
.pizza-hunt {
  background-color: var(--accent-color-);
}

@media screen and (max-width: 500px) {
  .projects-handler {
    height: 130vh;
  }
}

/* =================  
    ? Modal
 ===================*/
 .modal-handler {
  position: absolute;
  z-index: 1000;
  max-height: 75vh;
  min-height: 45vh;
  max-width: 60vw;
  border-radius: 5px;
}
.modal-container h2 {
  background-color: white;
  margin: 10px 0;
}
.modal-text-container {
  background-color: white;
  border-radius: 5px;
  margin: 25px 0;
}
.modal-container {
  background-color: white;
  border-radius: 5px;
  padding: 25px;
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
}
.modal-btn {
  background-color: #ffbf13;
  padding: 10px;
  border: #ffbf13;
  text-decoration: none;
  border-radius: 3px;
  font-size: 16px;
}
.modal-hidden {
  display: none;
}
.modal-img {
  background-position: fixed;
  background-size: cover;
  background-position: 80%;
  min-width: 800px;
  min-height: 409px;
}
.collectors-haven-img {
  background-image: url("./assets/images/collectors-haven.PNG");
}
.pwa-img {
  background-image: url("./assets/images/pwa-screenshot.PNG");
}
.pizza-hunt-img {
  background-image: url("./assets/images/pizza-hunt.PNG");
}
